
/* Start navigation  */
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #f8f9fa;
}
.nav-logo img{
    height: 60px;
    width: 200px;
    float: left;
    margin: 20px 30px;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.nav{
    overflow: hidden;
    display: inline-flex;
    float: right;
    margin-top: 35px;
}
.nav a{
    font-size: 15px;
    color: black;
    text-align: center;
    padding: 10px 22px;
    text-decoration: none;
    font-family: verdana;
    border-radius: 4px;
}

.active{
    background-color: burlywood;
}

.nav a:hover{
    background-color: burlywood;
}

.dropdown{
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn{
    font-size: 15px;
    border: none;
    outline: none;
    padding: 10px 22px;
    background-color: inherit;
    font-family: verdana;
    border-radius: 0px;
    cursor: pointer;
}
.blog:hover{
    background-color: burlywood;
    color: white;
    border-radius: 4px;
}
.pages:hover{
    background-color: burlywood;
    color: white;
    border-radius: 4px;
}
.nav a:hover{
    background-color: burlywood;
    color: white;

}
.dropdown:hover .dropbtn{
    background-color: burlywood;
    color: white;
    border-radius: 4px;
}

.triangle-down{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    display: inline-block;
    padding: 0px;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a{
    float: none;
    color: black;
    padding: 10px 26px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 0px;

}

.dropdown-content a:hover{
    background-color: burlywood;
}

.dropdown:hover .dropdown-content{
    display: block;
}

/* End navigation */

div{
    display: block;
}
.menu_Banner{
    clear: left;
    background-image: url(images/menu_banner.jpg);
    height: 430px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}
.menu_Banner:before{
    background: #010101;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0.8;
}
.menu-banner_content{
    position: relative;
}
.menu-banner_content h1{
    margin-top: 50px;
    font-family: Georgia;
    padding-top: 200px;
    font-size: 40px;
    color: white;
    text-align: center;
}

/* end banner */



.singleblog_head h1{
    font-family: Georgia;
    text-align: center;
    margin-top: 100px;
}

.singleblog_head p{
    font-family: verdana;
    text-align: center;
    color: black;
    font-size: 17px;
    margin-top: 30px;
}

.float_left{
    position: relative;
    height: 428px;
    width: 52%;
    float: left;
    margin: 70px 135px;
    box-shadow: -15px -15px 0px 0px;
}
.blog_dt{
    position: absolute;
    right: 0px;
    top: 0px;
    background: #cfa671;
    font-family: verdana;
    font-size: 17px;
    padding: 10px 15px 10px 5px;
    color: white;

}
.float_right-blog{
    float: left;
    display: inline;
    line-height: 35px;
    width: 30%;
    margin-top: 40px;
    margin-left: -50px;
    font-family: verdana;
}

.blog_search{
    position: relative;
    border-bottom: 1px solid #010101;
    padding-bottom: 35px;
    margin-bottom: 25px;
}

.blog_search input[type=text]{
    padding: 10px 40px 10px 40px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    border-radius: 0px;
    font-family: verdana;
    font-size: 15px;
    width: 70%;
}
.search_btn{
    position: absolute;
    background: none;
    border: none;
    font-size: 20px;
    min-height: 40px;
}
.fa{
    display: inline-block;
    font-size: inherit;

}
.blog_category{
    padding-bottom: 30px;
    margin-bottom: 20px;
} 

.blog_category ul li a{
    display: inline-block;
    text-transform: uppercase;
    width: 100%;
    text-decoration: none;
    color: black;
    font-family: verdana;
    font-size: 15px;

}


.inner-blog_content{
    float: left;
    background: white;
    position: relative;
    padding: 30px 140px;
    width: 50%;
    margin-top: -90px;
}

.inner-blog_content h3{
    font-family: verdana;
    font-size: 22px;
    font-size: 600;
    padding-bottom: 15px;
}

.inner-blog_content ul li{
    display: inline-block;
    padding: 0px 5px;
    color: #222222;
    font-family: verdana;
    font-size: 15px;
    left: 0;
}
.inner-blog_content p{
    padding: 10px 0px;
    font-family: verdana;
    line-height: 25px;
    font-size: 14px;
    margin-left: -35px;
}


.blog_quote{
    border-left: 5px solid #cfa671;
    padding: 6px;
    margin-left: -40px;
}
.blog_quote p{
    padding: 10px 0px;
    font-family: verdana;
    font-size: 14px;
    line-height: 24px;
    margin-left: 10px;
}

.inner-blog_content p{
    padding: 10px 0px;
    font-family: verdana;
    font-size: 14px;
    line-height: 24px;
    margin-left: -37px;
}
.recent-img{
    left: 0;
    font-family: verdana;
}

.recent-img{
    float: left;
    position: relative;
}

.recent-info{
    display: table-cell;
    vertical-align: top;
    padding-left: 15px;
    font-family: verdana;
    font-size: 13px;
}
.recent-info ul li{
    float: left;
    display: inline;
    font-size: 12px;
    padding: 0px;
    color: #222222;
}

.blog_box ul li{
    display: inline-block;
    margin-bottom: 5px;
}


.blog_box ul li a{
    list-style: none;
    padding: 10px 25px;
    display: block;
    background: #f5f5f5;
    color: #222222;
    border-radius: 6px;
    text-decoration: none;
    font-family: verdana;
    font-size: 14px;
    margin: 10px 50px 0 -40px;
}

.blog_box ul li a:hover{
    background-color: burlywood;
}

.blog_comment-box{
    clear: left;
    margin: 20px 0px;
    float: left;
    width: 770px;
    margin-left: 150px;
}
.blog_comment-box h3{
    font-family: verdana;
    font-size: 19px;
    font-weight: 600;
    padding-bottom: 25px;
}


.all-comments {
    padding: 10% 0;
    width: 70%;
}

.all-comments h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 2rem;
    text-align: left;
    margin-left: 50px;
}

.comments {
    display: inline-flex;
    justify-content: space-around;
}

.avatar-img {
    width: 13%;
    margin-left: 90px;
    height: 3%;
}

.avatar-comments {
    padding: 0 5%;
}

.avatar-comments h4,
.avatar-comments p {
    display: inline-block;
    padding-bottom: 0.5rem;
    margin: 0;
}


.avatar-comments h4 {
    margin-right: 347px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.comments-para {
    padding: 0 5% 0 0;
    font-family: verdana;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
}

.avatar-comments p {
    display: inline-block;
    padding-bottom: 0.5rem;
    margin: 0;
    font-family: verdana;
    font-size: 14px;
    line-height: 24px;
}

.reply-btn {
    font-family: verdana;
    font-size: 14px;
    text-decoration: none;
    color: #010101;
    float: right;
    text-align: right;
    font-size: 16px;
    padding: 12px 21px;
    background: #f5f5f5;
    border-radius: 6px;
    transform: scale(0.8);
}

.reply-btn:hover {
    background: #cfa671;
    color: #ffffff !important;
}


.Adminreply {
    transform: scale(0.9);
    margin-left: 20px;
    padding: 0%;
    margin-bottom: 38px;
}

.avatar-reply {
    padding-right: 0px;
}



.comment-box{
    clear: left;
    /* margin: 150px; */
    width: 800px;
    margin-left: 80px;
}

.comment-form{
    display: block;
    float: left;
    width: 380px;
    margin-left: 80px;
}

.comment-form input[type=text]{
    width: 100%;
    padding: 17px 20px;
    margin: 10px 0px;
    border: 1px solid #010101;
    outline: none;
    border-radius: 0px;
    font-family: verdana;
    font-size: 15px;
}

.comment_textarea{
    display: block;
    float: right;
    width: 380px;

}
.comment_textarea textarea{
    left: 0;
    padding: 20px 20px;
    margin: 10px 40px;
    border: 1px solid #010101;
    outline: none;
    border-radius: 0px;
    font-family: verdana;
    font-size: 15px;
    width: 80%;
    margin-left: -570px;
    height: 90px;

}
.submit_blog{
    float: left;
    width: 20%;
    margin-top: 150px;
    margin-left: -380px;
}

.submit_blog button{
    width: 200px;
    padding: 0px 40px;
    color: #d0a772;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    background-color: transparent;
    line-height: 50px;
    border: 2px solid #cfa671;
    cursor: pointer;
    text-transform: uppercase;
}
.submit_blog button:hover{
    background-color: burlywood;
    color: white;
}

/* start contact box */

.contact_box_reserve-blog{
    float: left;
    margin-top: 90px;
    background-color: burlywood;
    height: 120px;
    width: 100%;
}
.box_1{
    padding: 30px 0px;
    float: left;
    width: 33%;
}
.contact_box_reserve-blog i{
    display: block;
    float: left;
    width: 50px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background: white;
    color: #d0a772;
    font-size: 20px;
    border-radius: 50%;
    margin-top: 4px;
    margin-left: 100px;
}

.contact_box_reserve-blog h4{
    margin: 0px 16px;
    margin-top: 8px;
    color: white;
    font-size: 18px;
    padding: 0px;
    font-weight: 400;
    line-height: 22px;
    font-family: verdana;
}

.contact_box_reserve-blog .reserve_p{
    margin: 0px 16px;
    margin-top: 8px;
    color: white;
    font-size: 18px;
    padding: 0px;
    font-weight: 400;
    line-height: 22px;
    font-family: verdana;
    margin-left: 20px;
}
.icons{
    overflow: hidden;
}

/* end contact box */


/* start footer */
.footer{
    display: block;
    float: left;
    padding-top: 60px;
    padding-bottom: 0px;
    position: relative;
    left: 0;
    width: 100%;
    height: 300px;
    background-image: url(images/footer_bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
.footer_cont{
    float: left;
    position: relative;
    z-index: 1;
    width: 20%;
    margin-left: 60px;
    margin-top: 16px;
}
.footer_cont h3{
    font-family: verdana;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    font-size: 19px;
    border-bottom: 1px dashed rgba(207, 166, 113, 0.5);
    line-height: 50px;
    margin-top: -11px;
    margin-bottom: 17px;
    margin-bottom: 17px;

}
.footer_cont h5{
    font-family: verdana;
    font-weight: 300;
    font-size: 13px;
    color: white;
    line-height: 25px;
    margin-top: -10px;
    margin-left: -1px;
    text-align: left;
}

.footer:before{
    background: #010101;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0.8;

}
.subscribe{
    display: block;
    text-align: center;
    padding: 5px 0;
}
.sub_form{
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    float: left;
    width: 100%;
    line-height: 50px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
}
.submit{
    display: block;
    background-color: #d0a772;
    color: white;
    float: left;
    font-size: 13px;
    font-weight: 500;
    width: 106%;
    line-height: 40px;
    border: none;
    cursor: pointer;    
}
.social_media_icons{
    display: inline-flex;
    float: left;
    padding: 10px 60px;
    margin: 0;
    list-style: none;
    margin-top: 40px;    
}
.social_media_icons a{
    font-size: 25px;
    margin-right: 70px;
    margin-left: -45px;
    color: white;
    cursor: pointer;
}
.copyright{
    clear: left;
    margin-top: 280px;
    background-color: #010101;
    display: block;
    position: relative;
    border-top: 1px dashed rgba(207, 166, 113);
    padding: 30px 0;
    z-index: 1;
    height: 50px;
}
.comp_name{
    font-family: verdana;
    font-size: 14px;
    text-align: center;
    color: white;
}
.comp_name a{
    text-decoration: none;
    color: white;
}

/* end footer */